<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/13178aa15c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <p id="logo" > <span>V</span>idyavathi </p>
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contents</a></li>
                </ul>
            </nav>
            <div class="headertext">
                <p>Developer, Tester</p>
                <h1>Hi, I'm <span>Vidyavathi R</span> <br>From India</h1>
            </div>
        </div>
    </div>
    <!-- ------------about-------------- -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col1">
                    <img src="images\vid2.jpg" >
                </div>
                <div class="about-col2">
                     <h1 class="subtitle">About Me</h1>
                     <p>Hey there! I'm Vidyavathi R, a recent MCA grad obsessed with tech. Certified in Python Full Stack-Web App Development. Worked on a multi-service web app during my internship at LinuxWorld using HTML, JavaScript, CSS, and Python. I thrive on problem-solving and love collaborating on exciting projects.

                     </p>
                     <div class="tabstitle">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Certificates</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                     </div>
                     <div class="tab-contents active-content" id="skills">
                        <ul>
                           <h3><li><span>Frontend Technology:</span></li></h3>
                            <li>HTML, CSS, JavaScript</li>

                            <h3><li><span>Backend Technology:</span></li></h3>
                            <li>Python, C++</li>
                            
                            <h3><li><span>Framework</span></li></h3>
                            <li>flask, Bootstrap</li>
                            

                            <h3><li><span>Database</span></li></h3>
                            <li>SQLite, MySql</li>

                        </ul>
                     </div>
                     <div class="tab-contents" id="experience">
                        <ul>
                           <li><span>Python Full Stack - Web App Development Internship </span><br></li>
                           <li><span>Python Enablement Training </span><br></li>
                        </ul>
                     </div>
                     <div class="tab-contents" id="education">
                        <ul>
                           <li><span>MCA </span><br>T John College, Bengaluru, Karnataka</li>
                           <li><span>BCA </span><br>The Oxford College of Science , Bengaluru, Karnataka</li>
                        </ul>
                     </div>
                </div>
            </div>
        </div>

    </div>
<!---------------services-------------->
<div id="services">
    <div class="container">
        <h1 class="subtitle">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-regular fa-file-code"></i>
                <h2>Web Development</h2>
                <li>HTML, CSS, JavaScript</li>
                <li>Python (Django/Flask)</li>
                <li> Frontend and Backend Development</li>           
                <a href="#">Learn more</a>

            </div>
            <div>
                <i class="fa-solid fa-laptop-code"></i>
                <h2>Cloud Services</h2>
                <li>Amazon EC2</li>
                <a href="#">Learn more</a>

            </div>
            <div>
                <i class="fa-brands fa-app-store"></i>
                <h2>Database Management</h2>
                <li>SQL</li>
                <li>Database Design and Optimization</li>
                <a href="#">Learn more</a>

            </div>
            
        </div>
    </div>
</div>

<!-----------------portfolio---------->
<div id="portfolio">
    <div class="container">
        <h1 class="subtitle">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="static/w1.jpeg">
                <div class="layer">
                    <h3>Python-ContactBook </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus iure, modi provident natus! Voluptatem, voluptates tempora.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="static/w2.jpeg">
                <div class="layer">
                <h3>My-webapp </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.voluptatibus iure, modi provident natus! Voluptatem, voluptates tempora.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="static/w3.jpeg">
                <div class="layer">
                <h3>Personal-portfolio</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.voluptatibus iure, modi provident natus! Voluptatem, voluptates tempora.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="button">See More</a>
    </div>
</div>
<!----------------------contact---------------------------->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="subtitle">Contact Me</h1>
                <p><i class="fa-solid fa-envelope"></i> vidyavidhu2812@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> 9886514993</p>
                <div class="socialicons">
                    <a href="https://www.linkedin.com/in/vidyavathi-r-453955232?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/VidyavathiR"><i class="fa-brands fa-github"></i></a>
                </div>
                <a href="static\Vidyavathi_R_Resume.pdf" download class="button button2">Download CV</a>
            </div>
            <div class="contact-right">
                <form name='submit-to-database' action="/" method="POST" >
                    <input type="text" name="Name" placeholder="Enter your Name here" required>
                    <input type="email" name="Email" placeholder="Enter your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="button button2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright @ Vidyavathi.</p>
    </div>
</div>

<script >
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");
    
    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-content");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-content");
    }

    const scriptURL = '/';
    const form = document.forms['submit-to-database'];
    const msg = document.getElementById('msg');

    form.addEventListener('submit', e => {
        e.preventDefault();
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
                if (response.ok) {
                    msg.innerHTML = 'Message sent successfully';
                    setTimeout(function () {
                        msg.innerHTML = '';
                    }, 5000);
                    form.reset();
                } else {
                    throw new Error('Failed to submit form');
                }
            })
            .catch(error => {
                console.error('Error!', error.message);
            });
    });

</script>

</body>
</html>